{% extends "base.html" %}

{% block content %}
    <div id="accountSettingsModal" class="modal fade">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="centertable">
    <h2 class="form-signin-heading">Account Settings</h2>
    {% if not user.UserAccount %}
    <table>
    <td>
    <form method="GET" action="{% url 'create_user_account' %}">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-primary">Create User Account</button>
    </form>
    </td>
    </table>
    {% endif %}
    <table align="center">
    {% if user.UserAccount %}
    <tr>
    <th colspan="2">
        Api-Key: {{ user.UserAccount.api_key }}
    </th>
    </tr>
    <tr>
    <td>
        <form method="GET" action="{% url 'update_user_account' user.UserAccount.pk %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-xs">Update User Account</button>
        </form>
    </td>
    <td>
        <form method="POST" action="{% url 'delete_user_account' user.UserAccount.pk %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-xs">Delete User Account</button>
        </form>
    </td>
    {% endif %}
    </tr>
    </table>
    </div>
    <div>
    <table align="center">
    <tr>
    <td>
    <form method="GET" action="{% url 'create_user_address' %}">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-primary">Add Deposit Address</button>
    </form>
    </td>
    </tr>
    </table>
    </div>
    <div class="centertable">
    <table align="center">
    {% for useraddress in request.user.UserAddress.all %}
    <th colspan="2">
        BTC Deposit Address: {{ useraddress }}
    </th>
    <tr>
    <td>
        <form method="GET" action="{% url 'update_user_address' useraddress.pk %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-xs">Update Deposit Address</button>
        </form>
    </td>
    <td>
        <form method="POST" action="{% url 'delete_user_address' useraddress.pk %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-xs">Delete Deposit Address</button>
        </form>
    </td>
    </tr>
    {% endfor %}
    </table>
    </div>
    <div class="centertable">
    <table align="center">
    <tr>
    <td>
    <form action="{% url 'withdraw_coin_view' %}" method="GET">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-primary" value="Withdraw Coins" />
    </form>
    </td>
    </tr>
    </table>
    </div>
    </div>
    </div>
    </div>

    <script type="text/javascript">
        (function(){
           $('#accountSettingsModal').modal('show');
        })();
    </script>
{% endblock %}

