<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<style>
form {
    text-align: center;
}
.floatybox {
     display: inline-block;
     text-align: center;
     margin: 5px;
}
.aParent div {
    clear: none;
    float: left;
}
.footer {
    position: relative;
    margin-top: 10px;
    margin-bottom: 20px;
    clear: both;
}
.getinfo {
    text-align: center;
    display: block;
}
.helptext {
    display: none;
}
.centertable {
    margin: 20px;
}
</style>
<body>

{% block body %}
<nav>
<a href="/account_settings/">{{ user.username }}</a>
<a href="/">home</a>
{% if user.id %}
<a href="{% url 'logout' %}">logout</a>
<a href="{% url 'indicators' %}">indicators</a>
{% endif %}
</nav>
<hr />
{% if user.id %}
    <div class="getinfo">
    <div class="floatybox">
    <form action="{% url 'get_balance_form' %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Get Balance" />
    </form>
    <table>
        <tr><td>USD:</td> <td>{{ balance_ticker.usd }}<td></tr>
        <tr><td>BTC:</td> <td>{{ balance_ticker.btc }}<td></tr>
    </table>
    </div>
    <div class="floatybox">
    <form action="{% url 'get_active_orders_form'  %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Get Active Orders" />
    </form>
        <table>
            {% for object in active_order_ticker.split_json %}
                <tr><td>Id: {{ object }}</td></tr>
            {% endfor %}
        </table>
    </div>
    <div class="floatybox">
    <form action="{% url 'get_ticker'  %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Get Ticker" />
    </form>
    <table>
        <tr><td>Current Price:</td> <td>{{ ticker.last }}</td></tr>
        <tr><td>High:</td> <td>{{ ticker.high }}</td></tr>
        <tr><td>Low:</td> <td>{{ ticker.low }}</td></tr>
        <tr><td>Average:</td> <td>{{ ticker.avg }}</td></tr>
        <tr><td>Volume:</td> <td>{{ ticker.vol_cur }}</td></tr>
    </table>
    </div>
    <div class="floatybox">
    <form action="{% url 'get_depth'  %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Get Depth" />
    </form>
    <div class="aParent">
    <div style="overflow:scroll; height:300px;">
    <table>
    <tr>
    <th>Ask Orders</th>
    </tr>
    <tr>
    <th>USD, BTC</th>
    </tr>
    {% for ask in depth.split_asks %}
        <tr><td>{{ ask }}</td></tr>
    {% endfor %}
    </table>
    </div>
    <div style="overflow:scroll; height:300px;">
    <table>
    <tr>
    <th>Bid Orders</th>
    </tr>
    <tr>
    <th>USD, BTC</th>
    </tr>
    {% for bid in depth.split_bids %}
        <tr><td>{{ bid }}</td></tr>
    {% endfor %}
    </table>
    </div>
    </div>
    </div>
    <div class="footer">
    <hr />
    <a href="{% url 'account_settings' %}">account settings</a>
    <a href="{% url 'create_trade_form' %}">create trade</a>
    <a href="{% url 'create_cancel_order_view' %}">cancel trade</a>
    <a href="{% url 'history' %}">user history</a>
    </div>
    </div>
{% else %}
    <a href="/registration/">register</a>
    <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}

{% block content %}
{% endblock %}

</body>
</html>