{% extends "base.html" %}

{% block content %}

<div class="centertable">
    <table align="center">
    <tr>
    <td>
        <form method="GET" action="{% url 'trade_history_view' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Trade History</button>
        </form>
    </td>
    <td>
        <form method="GET" action="{% url 'trans_history_view' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Transaction History</button>
        </form>
    </td>
    </tr>
    </table>
</div>

{% endblock %}